traj_segs
seg_logs  
.ipynb_checkpoints/
__pycache__/
binbounds.txt
bstates/
common_files.bck/
common_files/xray_run/.dist.py.swp
common_files/xray_run/.ipynb_checkpoints/
common_files/xray_run/dist_bound.txt
common_files/xray_run/seg.dcd
common_files/xray_run/seg.log
gen_istate.log
get_pcoord.log
hist.jpg
istates/
job_logs/
old/
pdist.h5
runwe.slurm
slurm.out
trace405_87.dcd
trace421_11.dcd
trace421_323.dcd
trace472_93.dcd
trace750_322.dcd
trace750_323.dcd
trace750_5.dcd
trace750_6.dcd
trace793_15.dcd
trace793_19.dcd
trace793_25.dcd
traj_405_87_trace.txt
traj_421_11_trace.txt
traj_421_323_trace.txt
traj_472_93_trace.txt
traj_750_322_trace.txt
traj_750_323_trace.txt
traj_750_5_trace.txt
traj_750_6_trace.txt
traj_793_15_trace.txt
traj_793_19_trace.txt
traj_793_25_trace.txt
trajs.h5
w_crawl/
west-bck.h5
west.h5
west2.h5

